block vars
doctype html
html
  head
    script(src="libs/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
    script(src="app.js")
    
    
    title simple
  body
    block body
      