block vars
doctype html
html
  head
    script(src="libs/jquery.js")
    script(src="libs/jquery-ui.js")
    script(src="libs/socket.io.js")
    script(src="libs/jquery.toast.min.js")
    script(src="libs/tabulator.min.js")
    script(src="app.js")
    script(src="libs/jquery.validate.js")
    script(src="libs/additional-methods.js")
    script(src="libs/validations.js")
    link(href='libs/custom.css', rel='stylesheet')
    link(href='libs/jquery.toast.min.css', rel='stylesheet')
    link(href="libs/tabulator.min.css" rel="stylesheet")
    

    
    title simple
   
      
  body
    block body
      