block vars
doctype html
html
  head
    script(src="libs/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
    script(src="libs/jquery.toast.min.js")
    script(src="app.js")
    link(href='libs/jquery.toast.min.css', rel='stylesheet')

    
    title simple
    style(type='text/css').
      html, body {
        height: 100%
      }
      html{
        display: table;
        width: 100%;
      }
      body{
        display: table-cell; text-align: center; vertical-align: top;
        background-color: white;
      }
      
  body
    block body
      