extends base

block body
  h1 Dashboard
  p.
    <a id="gPlayNow" href="#">Play</a>&nbsp;&nbsp;&nbsp;&nbsp;<a id= "gHistory" href="#">Game History</a>&nbsp;&nbsp;&nbsp;&nbsp;<a id= "gStats" href="#">Standings</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">Logout</a>
  
  h2 Hello, #{name}  
  p(hidden)#hName #{name}
  p(hidden)#hEmail #{email}
  

      
  #content
    .options 
      button#cRoomBtn Create Game
      button#lRoomBtn Join Game
      button#rGameBtn Resume Game
  
  p(hidden).waitMsg
    | Wait for second Player to join.
  
  p(hidden).joinMsg
    | Select a Game Room to join.
  
  #roomList
    .availList
      button(hidden)#jRoomBtn Join

  #countDown.numCircle(hidden) 
  
  #qOne.toast
  
  #FieldAns(hidden)
    .FAns
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      #info.toast
      input#ansInput.ans
      <br/>
      button#sendAnsBtn Submit

  #gSum-table.gs-table

  #stats-table.s-table

  #gHistory-table.g-table
    
      