extends base

block body
  h1 Dashboard
  p.
    <a id= "gStats" href="">Stats</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">Logout</a>
  
  h2 Hello, #{name}  
  p(hidden)#hEmail #{email}
  

  style(type='text/css').
    .numCircle {
      font: 60px Arial, sans-serif;
      width: 2em;
      height: 2em;
      box-sizing: initial;
      background: #666;
      border: 0.1em solid black;
      color: black;
      text-align: center;
      border-radius: 50%;    
      line-height: 2em;
      box-sizing: content-box;
      margin: auto; 
      margin-top: 2em;   
    },
    .FAns{
      margin-top: 20px;
    },
    .ques{
      font: 60px Arial, sans-serif;
      width: 2em;
      height: 2em;  
      margin-top: 2em;   
    }
    
  #content
    .options 
      button#cRoomBtn Create Game
      button#lRoomBtn Join Game
      button#rGameBtn Resume Game
  
  p(hidden).waitMsg
    | Wait for second Player to join.
  
  p(hidden).joinMsg
    | Select a Game Room to join.
  
  #roomList
    .availList
      button(hidden)#jRoomBtn Join

  #countDown.numCircle(hidden) 
  
  #qOne.toast
  
  #FieldAns(hidden)
    .FAns
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      #info.toast
      input#ansInput.ans
      <br/>
      button#sendAnsBtn Submit

  #Stats
    .allStats
      p#totalScore


  