extends base

block body
  h1 Dashboard
  p.
    You are now logged in. <a href="/logout">Logout</a>


  h2 Hello, #{user.firstName}  
  //p Email:      #{user.email}
  //p Data:       #{user.data}

  
  #content
    .options 
      button#cRoomBtn Create Game
      button#lRoomBtn Join Game
  
  p(hidden).waitMsg
    | Waiting for second Player to join.
  
  p(hidden).joinMsg
    | Select a Game Room to join.
  
  #roomList
    .availList
      
  button(hidden)#jRoomBtn Join
  