extends base


block body
  h1 Login

  style(type='text/css').
    .errorDiv, .err{
      color: red;
      margin-bottom: 2em;
    }

  .errorDiv
    if error  
      p!= error[0].msg
  

  if error
    p.err #{error}

  form(method="post")
    span Email: 
    input(type="email", name="email", required=true)
    br

    span Password:
    input(type="password", name="password", required=true)
    br
    span password123
    br

    input(type="submit")
