extends base

block body
  h1 Stats
  p.
    <a href="/dashboard">Dashboard</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">Logout</a>

  h2 Hello, #{name}  
  
  #statsArea
    .statsA

  #GameMovesArea
    .GameMovesA
